.container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.center{
    align-items: center;
    display: flex;
    justify-content: center;
    align-content: center;
}